In [4]:
#list is mutable,we can modify the list.
#we use square brackets to create a list.
lst=[1,2,3]
print(lst)
#tuple is a unmutable ,we can't modify the tuple
#we use paranthesis() to create a tuple.
tup=(1,2,3)
print(tup)

[1, 2, 3]
(1, 2, 3)

In [5]:
#input() function is used to take input from the user.
#it will return string data type
#convert it into integer by using int

In [7]:
#dict has key value pairs inwhich they are mutable we can modify the values but we cant modify the key.
dict={'name':'kirti','class':12,'age':21}
print(dict)

{'name': 'kirti', 'class': 12, 'age': 21}

In [3]:
#for loop is used to print the values until we can't stop.
for i in range(1,6):
   print(i)

1
2
3
4
5

In [ ]:
#python module contains the class and the function .
# Python, a module is  file containing Python functions and classes
# When we create '.py' file, its name becomes the module name.
#it can define functions, classes, and variables

In [8]:
import math
print(math.pi)
print(math.sqrt(25))

3.141592653589793
5.0

In [9]:
#exception handling is used to handle the error.
#try block catch the exceptions.
#in except block has the exception ,it will check the exception
#finally block is run if the exception happened or not
try:
  result = 10 / 0
  print(result)
except ZeroDivisionError:
  print("Error: Can't divide by zero!")
finally:
  print("it is the finally block.")

Error: Cannot divide by zero!
This is the finally block.

In [16]:
import math
def calculate_area(r):
  return math.pi * (r ** 2)
r = 8
area = calculate_area(r)
print(f"The area of a circle and radius {r} is: {area}")

The area of a circle and radius 8 is: 201.06192982974676

In [17]:
name = input("Enter your name:")
age = input("Enter your age: ")
print(f"Hello {name}, you are {age} years old!")

Enter your name:kirti
Enter your age: 21
Hello kirti, you are 21 years old!

In [27]:
fruits = ["apple", "banana", "mango", "date", "sugarcane"]
for index  , fruits in enumerate(fruits):
  place=i+1
  print(f"Place {place}: {fruits}")

Place 6: apple
Place 6: banana
Place 6: mango
Place 6: date
Place 6: sugarcane

In [25]:
def grade_calculator(score):
  if score >= 90:
    return 'A'
  elif score >= 80:
    return 'B'
  elif score >= 70:
    return 'C'
  elif score >= 60:
    return 'D'
  else:
    return 'F'
print(f"Score 95: Grade {grade_calculator(95)}")
print(f"Score 82: Grade {grade_calculator(82)}")
print(f"Score 70: Grade {grade_calculator(70)}")
print(f"Score 55: Grade {grade_calculator(55)}")

Score 95: Grade A
Score 82: Grade B
Score 70: Grade C
Score 55: Grade F

In [26]:
def is_prime(num):
  if num <= 1:
    return False
  for i in range(2, int(num**0.5) + 1):
    if num % i == 0:
      return False
  return True

prime_numbers =[num for num in range(1, 51) if is_prime(num)]
print("Prime numbers between 1 and 50:")
print(prime_numbers)

Prime numbers between 1 and 50:
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [30]:
class BankAccount:
    def __init__(self, account_holder_name, starting_balance=0):
        self.account_holder_name = account_holder_name
        self.balance = starting_balance
        print(f"Acc created for {self.account_holder_name} with starting balance ${self.balance:.2f}")

    def deposit(self, amount):
        if amount > 0:
            self.balance += amount
            print(f"Deposited ${amount:.2f}. New balance: ${self.balance:.2f}")
        else:
            print("Deposit amount must be positive.")

    def withdraw(self, amount):
        if amount > 0:
            if self.balance >= amount:
                self.balance -= amount
                print(f"Withdrew ${amount:.2f}. New balance: ${self.balance:.2f}")
            else:
                print("Insufficient balance.")
        else:
            print("Withdrawal amount must be positive.")

    def display_balance(self):
        print(f"Current balance for {self.account_holder_name}: ${self.balance:.2f}")

# Create an account, perform transactions, and show the final balance
my_account = BankAccount("kirti malik",2000)

my_account.deposit(5000)
my_account.withdraw(2000)
my_account.withdraw(15000)
my_account.display_balance()

Acc created for kirti malik with starting balance $2000.00
Deposited $5000.00. New balance: $7000.00
Withdrew $2000.00. New balance: $5000.00
Insufficient balance.
Current balance for kirti malik: $5000.00

In [ ]:
#list comprehenssion

In [37]:
result = [x * 2 for x in range(10) if x % 2 == 0]
print(result)

[0, 4, 8, 12, 16]